[req]
prompt = no
distinguished_name = dn
req_extensions = req_ext

[dn]
CN = node-6101

[req_ext]
subjectAltName = DNS:node-6101,URI:spiffe://diskeyval/node-6101
extendedKeyUsage = serverAuth,clientAuth
keyUsage = digitalSignature,keyEncipherment