[req]
prompt = no
distinguished_name = dn
req_extensions = req_ext

[dn]
CN = node-6001

[req_ext]
subjectAltName = DNS:node-6001,URI:spiffe://diskeyval/node-6001
extendedKeyUsage = serverAuth,clientAuth
keyUsage = digitalSignature,keyEncipherment